.widget-weather 
{
    .card-title
    {
        margin-bottom: 15px;
    }
    p 
    {
        line-height: 1.9;
    }
    .today-cel 
    {
        font-size: 56px;
        font-weight: 300;
        letter-spacing: 1.5px;
        line-height: 1;
    }
}