<div class="card widget-weather">
    <div class="card-block">
      <h5 class="card-title">New York, 22 July</h5>
      <div class="row">
        <div class="col-md-12">
          <div class="inline-block">
            <h1 class="today-cel">
              <span>28°</span>
              <i class="ei-partialy-cloudy text-warning"></i> 
            </h1>
            <p>Partly Sunny</p>
          </div>
        </div>
      </div>
      <div class="row border bottom mrg-top-30">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-4">
              <h3 class="no-mrg-btm">22°/28°</h3>
              <p class="font-size-13">Temp</p>
            </div>
            <div class="col-md-4 col-sm-4 col-4">
              <h3 class="no-mrg-btm">61%</h3>
              <p class="font-size-13">Humidity</p>
            </div>
            <div class="col-md-4 col-sm-4 col-4">
              <h3 class="no-mrg-btm">18<span class="font-size-13">km/h</span></h3>
              <p class="font-size-13">Wind</p>
            </div>
          </div>
        </div>
      </div> 
      <div class="row mrg-top-35">
        <div class="col-md-2 col-sm-2 col-2">
          <div class="next-7day">
            <span class="display-block">WED</span>
            <h2 class="mrg-top-10"><i class="ei-cloud"></i></h2>
            <span>28°</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-2">
          <div class="next-7day">
            <span class="display-block">THU</span>
            <h2 class="mrg-top-10"><i class="ei-breeze"></i></h2>
            <span>23°</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-2">
          <div class="next-7day">
            <span class="display-block">FRI</span>
            <h2 class="mrg-top-10"><i class="ei-blizzard"></i></h2>
            <span>25°</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-2">
          <div class="next-7day">
            <span class="display-block">SAT</span>
            <h2 class="mrg-top-10"><i class="ei-sunny-day"></i></h2>
            <span>27°</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-2">
          <div class="next-7day">
            <span class="display-block">SUN</span>
            <h2 class="mrg-top-10"><i class="ei-partialy-cloudy"></i></h2>
            <span>24°</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-2">
          <div class="next-7day">
            <span class="display-block">MON</span>
            <h2 class="mrg-top-10"><i class="ei-sunny-day"></i></h2>
            <span>26°</span>
          </div>
        </div>
      </div>
    </div>
  </div>