<li class="notice-header">
    <i class="ti-bell pdd-right-10"></i>
    <span>Notifications</span>
</li>
<ul class="list-info overflow-y-auto relative scrollable ps ps--active-y">
    <li>
        <a href="">
            <img alt="" class="thumb-img" src="assets/images/avatars/thumb-5.jpg">
            <div class="info">
                <span class="title">
                    <span class="font-size-14 text-semibold">Jennifer Watkins</span> 
                    <span class="text-gray">commented on your <span class="text-dark">post</span></span> 
                </span>
                <span class="sub-title">5 mins ago</span>
            </div>
        </a>
    </li>
    <li>
        <a href="">
            <img alt="" class="thumb-img" src="assets/images/avatars/thumb-4.jpg">
            <div class="info">
                <span class="title">
                    <span class="font-size-14 text-semibold">Samuel Field</span> 
                    <span class="text-gray">likes your <span class="text-dark">photo</span></span> 
                </span>
                <span class="sub-title">8 hours ago</span>
            </div>
        </a>
    </li>
    <li>
        <a href="">
            <span class="thumb-img bg-primary">
                    <span class="text-white">A</span>
                </span>
            <div class="info">
                <span class="title">
                    <span class="font-size-14 text-semibold">Ayush Singh</span> 
                    <span class="text-gray">likes your <span class="text-dark">photo</span></span> 
                </span>
                <span class="sub-title">5 hours ago</span>
            </div>
        </a>
    </li>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; height: 248px; right: 0px;">
        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 148px;"></div>
    </div>
</ul>
<li class="notice-footer">
    <span>
        <a class="text-gray" href="">Check all notifications <i class="ei-right-chevron pdd-left-5 font-size-10"></i></a>
    </span>
</li>