<div class="container-fluid setting-page">
  <div class="page-title">
    <h4>Account Settings</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <div class="sticky-wrapper is-sticky">
            <div class="sticky">
              <a href="javascript:void(0)" class="card mrg-btm-15 scroll-to">
                <div class="card-block padding-25">
                  <ul class="list-unstyled list-info">
                    <li>
                      <span class="thumb-img pdd-top-10">
                        <i class="ti-help-alt text-primary font-size-30"></i>
                      </span>
                      <div class="info">
                        <b class="text-dark font-size-16">General Setting</b>
                        <p class="no-mrg-btm ">Start with the basic</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </a>
              <a href="javascript:void(0)" class="card mrg-btm-15 scroll-to">
                <div class="card-block padding-25">
                  <ul class="list-unstyled list-info">
                    <li>
                      <span class="thumb-img pdd-top-10">
                        <i class="ti-money text-success font-size-30"></i>
                      </span>
                      <div class="info">
                        <b class="text-dark font-size-16">Buy &amp; Sell</b>
                        <p class="no-mrg-btm">Know more about Buy &amp; Sell</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </a>
              <a href="javascript:void(0)" class="card mrg-btm-15 scroll-to">
                <div class="card-block padding-25">
                  <ul class="list-unstyled list-info">
                    <li>
                      <span class="thumb-img pdd-top-10">
                        <i class="ti-shield text-warning font-size-30"></i>
                      </span>
                      <div class="info">
                        <b class="text-dark font-size-16">Privacy &amp; Policy</b>
                        <p class="no-mrg-btm">We take our security strict</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </a>
              <a href="javascript:void(0)" class="card mrg-btm-15 scroll-to">
                <div class="card-block padding-25">
                  <ul class="list-unstyled list-info">
                    <li>
                      <span class="thumb-img pdd-top-10">
                        <i class="ti-truck text-danger font-size-30"></i>
                      </span>
                      <div class="info">
                        <b class="text-dark font-size-16">Shipping</b>
                        <p class="no-mrg-btm">Know more about shipping</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-sm-8">
          <div class="card">
            <div class="card-heading border bottom">
              <h4 class="card-title">Authentication</h4>
            </div>
            <div class="card-block">
              <div class="row">
                <div class="col-md-10">
                  <ul class="list-unstyled list-info">
                    <li>
                      <span class="thumb-img pdd-top-10">
                        <i class="ti-power-off font-size-30"></i>
                      </span>
                      <div class="info">
                        <b class="text-dark font-size-16">Restaurant Status</b>
                        <p>A Jedi can feel the Force flowing through him. You mean it controls your actions</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2 text-right">
                  <div class="toggle-checkbox toggle-success checkbox-inline toggle-sm mrg-top-15">
                    <input type="checkbox" name="toggle1" id="toggle1" checked="">
                    <label for="toggle1"></label>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-10">
                  <ul class="list-unstyled list-info">
                    <li>
                      <span class="thumb-img pdd-top-10">
                        <i class="ti-mobile font-size-30"></i>
                      </span>
                      <div class="info">
                        <b class="text-dark font-size-16">Everyone can contact me</b>
                        <p>When we heard about Alderaan, we were afraid that you were</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2 text-right">
                  <div class="toggle-checkbox toggle-success checkbox-inline toggle-sm mrg-top-15">
                    <input type="checkbox" name="toggle2" id="toggle2">
                    <label for="toggle2"></label>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-10">
                  <ul class="list-unstyled list-info">
                    <li>
                      <span class="thumb-img pdd-top-10">
                        <i class="ti-comment-alt font-size-30"></i>
                      </span>
                      <div class="info">
                        <b class="text-dark font-size-16">Order complete success message</b>
                        <p> I said, all systems have been alerted to your presence, sir. </p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2 text-right">
                  <div class="toggle-checkbox toggle-success checkbox-inline toggle-sm mrg-top-15">
                    <input type="checkbox" name="toggle3" id="toggle3" checked="">
                    <label for="toggle3"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>